/* feuille de style exo_03 */

/* l'étoile ou astérisque sélectionne tous les éléments de ma page html */
/* font-family nous permet de définir la typo utilisée sur la page : les typos se présentent dans l'ordre souhaitée */
/* lorsque le nom de la typo est constitué de plusieurs termes on doit l'encadrer d'apostrophe ou de "quotes" */
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightpink;
    /* largeur du corps de la page 50% de la taille de l'écran du navigateur */
    width: 50%;
    /* margin : la marge extèrieur de l'élément, avec une gestion automatique des marges, pour que le contenu de body soit centré dans la fenêtre */
    margin: auto;
}

/* les tyles pour le tableau */
/* BORDER : 3 valeurs : épaisseur, type de filet, couleur */
table {
    border: 5px solid black;
    /* par défaut la bordure contient 2 traits, pour que le trait soit unique on utilise la propriété "collapse" */
    border-collapse: collapse;
    /* la largeur du tableau par rapport à son contenu donc ici body // le tableau hérite des propriétés de son contenant sauf changement ici la couleur de fond */
    width: 50%;
    margin: auto;
}

caption {
    border: 5px solid red;
    background-color: #e6e6fa;
    /* border: 3px solid #483d8b; */
    padding: 10px;
    /* border-collapse: collapse; */
}

thead, tfoot {
    background-color: lightskyblue;
    border: 2px solid purple;
}

tbody {
    border: 5px ridge salmon;
}

th {
    /* dotted = pointillé */
    border: 5px dotted black;
    /* la marge intérieur de l'élément : padding */
    padding: 10px;
    /* chaque élément fait 25% du tableau */
    width: 25%;
}

td {
    border: 3px dotted red;
    text-align: center;
    padding: 5px;
}

/* td:first-child : le 1er td pour aligner le texte à gauche */
td:first-child {
    text-align: left;
    background-color: lightskyblue;
}