/* feuille de style  */

body {
    background-color: white;
}

.boite {
    background: url(../img/siamois.jpg);
    background-repeat: no-repeat;
    width: 260px;
    height: 194px;
    border: 5px solid red;
    float: left;
}

.clear {
    clear: both;
}