
#contenu


body{
    background: linear-gradient(to right, yellow,blue);
    height: 50px;
}
header{
    background: lightseagreen
    height: 50px;
}
nav{
    background: lightseagreen
    height: 50px;
}
section{
    background: lightsalmon
    height: 50px;
}
footer{
    background: lightpink
    height: 50px;    
}
