/* style pour cubitus */

body {
    background-color: gainsboro;

}

.clear {
    clear: both;
}

table {
    border: 1px solid ;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    float: left;
    text-align: center;
    margin: 10px;

}

.c1 {
    background-color: green;

}

.c2 {
    background-color: purple;

}