/* style.css */

body {
    background-color : white;
    color:green;
    font-size:21px;
}
/* styles pour la DD, les DT et les DD */
dd {
    background-color: greenyellow;
}

dt {
    background-color: yellow;
}
/* style pour bien voir les réponses aux questions */
.answer {
    background-color: tomato;
}

